@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Team Generator</h1>
    <h5>Description</h5>
    <p>The application is designed to randomly assign a list of names into teams based on a user-specified team size.
         It randomly generates team titles to help easily identify each team.</p>
    <h6><a asp-action="=TeamForm"><button>START</button></a></h6>

    

</div>
