@model RandomTeamGenerator.Models.TeamFormation
@{
    ViewData["Title"] = "Team Form Generator";
}

<div class="text-center">
    <h1 class="display-4">Random Team Generator Form</h1>

    <form asp-action="TeamForm" method="post">
        <div>
            <label asp-for="Names">Names Here:</label>
            <textarea asp-for="Names">@string.Join(" ", Model.Names)</textarea>\
        </div>

        <div>
            <label asp-for="TeamSize">Number of Groups:</label>
            <input type="number" asp-for="TeamSize" />
        </div>

        <div>
            <input type="submit" value="Go!"/>
        </div>

    </form>

</div>
